:root {
  --bg: #EEEEEE;
  --text: #562155;
  --text2: #9A31DB;
  --primary: #C77EE4;
  --card: #9CE7DC;
}

body.dark {
  --bg: #72577C;
  --text: #f0f0f0;
  --text2: #E4BAFE;
  --primary: #562155;
  --card: #A9C2C9;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}

header {
  background: var(--primary);
  color: white;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

/* Hero Section */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("assets/background-portfolio.jpg") center no-repeat;
  padding: 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: var(--text);
}

.hero h2 {
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 0.9;
  color: var(--text2);
}

/*SOBRE SECTION*/
.sobre-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.perfil {
  width: 150px;
  border-radius: 30%;
}
.badges {
  margin-top: 10px;
}
.badge {
  background: #562155;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 3px;
  display: inline-block;
  font-size: 0.9em;
}

/* Container principal */
.carousel-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 1rem;
}

/* Área do carrossel */

  .carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .carousel {
    display: flex;
    gap: 5px;
    transition: transform 0.5s ease-in-out;
  }

  .card {
    min-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    background-color: var(--card);
    color: var(--text);
    border-radius: 20px;
  }

  .carousel-dots {
    text-align: center;
    margin-top: 1rem;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dot.active {
    background-color: #333;
  }

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 50%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.vol-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
  align-items: start;
}

.vol-item {
  position: relative; /* necessário para posicionar o texto sobre a imagem */
  overflow: hidden;   /* evita que o texto ultrapasse a imagem */
}

.vol-item img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.vol-item .overlay-text {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* invisível por padrão */
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);

  color: #f0f0f0;
  text-align: justify;
  
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
  pointer-events: none;
}

.vol-item .overlay-text h3{
  text-align: center;
}

.vol-item .overlay-text p{
  margin: 20px;
}

/* quando passar o mouse */
.vol-item:hover .overlay-text {
  opacity: 1; /* texto aparece */
}



#contato a{
  text-decoration: dotted;
  color: var(--text);
}

.contato-links {
  display: flex;
  justify-content: space-between;
}

.contato-links img{
  width: 20px;
}

footer {
  text-align: center;
  padding: 1px;
  background: var(--primary);
  color: white;
}
